<nav class="navbar navbar-inverse navbar-fixed-top">

  
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Blogging</a>
        </div>
        <ul class="nav navbar-nav" style="float:right">

            <li><a href="#!/manageCategory">Admin</a></li>
            <li><a href="#!/create">Create Post</a></li>



       

            <li><a href="#!/login">Login</a></li>
            <li><a href="#!/registration">Register</a></li>
        </ul>
        }
</div>
</nav>